html {
  background: url("./images/pexels-jaime-reimer-2662116.jpeg") no-repeat center
    center fixed;
  background-size: cover;
  background-blend-mode: multiply;
}
body {
  font-family: Catamaran;
  background: rgba(37, 33, 33, 0.143);
  min-height: 100vh;
  min-width: 100vw;
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  --font-color: #666;
  color: var(--font-color);
  display: flex;
  flex-direction: column;
}
header,
main,
footer {
  display: flex;
}

header {
  justify-content: end;
}

main {
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex: 1;
  align-items: center;
}

main h1 {
  font-size: 34px;
}

five-habit-tracker {
  min-width: 250px;
  max-width: 800px;
}

.clock-section {
  width: 335px;
}

#about .mySocial {
  background: #ffffffa1;
  border-radius: 4px;
}
#about .mySocial a {
  display: inline-block;
  padding: 0 4px;
}
.mySocialInfo {
  font-size: 14px;
  color: var(--font-color);
  padding: 4px 10px;
  border-radius: 2px;
  margin-bottom: 4px;
}
.mySocialInfo a {
  color: var(--font-color);
}
#about .mySocial a i {
  font-size: 24px;
}
#about .mySocial a i.fa-linkedin {
  color: #0073b0;
}
#about .mySocial a i.fa-github {
  color: #24292e;
}
#about .mySocial a i.fa-twitter {
  color: #1da1f2;
}
#about .mySocial a i.fa-medium {
  color: black;
}
